  /* Main content styling */
  .content {
    display: flex;              /* Enables Flexbox */
   justify-content: center;    /* Horizontally centers the .box */
   align-items: center;        /* Vertically centers the .box */
   min-height: calc(90vh - 50px); /* Ensures the height adjusts excluding the header */
   
  
 }
 
 .box {
   padding: 50px;
   height: 450px; 
   width: 300px;   
   background-color: #fff;
   border: 2px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding-bottom: 30%;
 }
 
 .box h2 {
   margin-top: 0;
   margin-bottom: 15px;
   font-size: 18px;
   color: #333;
 }
 
 .box form label {
   display: block;
   margin-bottom: 8px;
   font-weight: bold;
   color: #555;
 }
 
 .box form input {
   place-items: center;
   width: 100%;
   padding: 8px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 14px;
 }


 /* Buttons positioned in the right corner */
.btnContainer {
   display: flex;
   gap: 10px;
   position:absolute ;
   right: 30px;

  
}

#btnContainerSubmit button {
   padding: 10px 20px;
   background-color: #007BFF;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

